@import '~bootstrap/dist/css/bootstrap.min.css';

.background-300 {
  background-color: #f4f4f4;
}

.primary {
  background-color: #80deea;
}

.primary-dark {
  background-color: #4bacb8;
}

.scrollable {
  height: 35rem;
  overflow: scroll;
}

table thead tr {
  background-color: #b4ffff;
  text-align: center;
  top: 0;
  position: sticky;
}